.service-block{
    background-image: url('./../../../../img/foodbg.png');
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
.service-block_header{
    font-size: 35px;
}
.service-block_text{
    font-size: 17px;
    padding-top: 25px;
}
.service-items_block{
    
}