.service-block{
    background-image: url('./../../../../img/foodbg.png');
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
.service-block_header{
    font-size: 35px;
}
.service-block_text{
    font-size: 17px;
    padding-top: 35px;
}
.service-items_block{
    padding-top: 175px;
    display: flex;
}
.service-item{
    padding-left: 250px;
    padding-right: 250px;
}
.service-item_image{
    border: 1px solid #bf7e06;
    height: 125px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-image{
    height: 100px;
    width: 100px;
}