div{
    color: white;
}
.short-block{
    display: flex;
}
.short-block_page{
    text-align: center;
    width: 325px;
    padding-left: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.short-menu_image{
    height: 220px;
    width: 220px;
    border-radius: 120px;
}
.short-menu_title{
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 25px;
}
.short-menu_text{
    line-height: 20px;
    color: gray;
    padding-bottom: 25px;
}
.short-menu_price{
    padding-bottom: 25px;
    color: rgb(250, 197, 100);
}
.short-menu_tocart{
    height: 35px;
    width: 105px;
    background-color: rgba(128, 128, 128, 0);
    color: white;
    border:  1px solid white;
}
.short-menu_tocart:hover{
    cursor: pointer;
    color: black;
    background-color: #fac564;
    border: 1px solid #fac564;
}