.short-header_nav{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin-left: 60px;
    color: #fac564;
}
.short-header_link{
    border: 1px solid #fac564;
    height: 50px;
    width: 130px;
    margin-left: 15px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fac564;
}
.short-link_item{
    color: #fac564;
}