.header-block{
    height: 55px;
    width: 100%;
    font-size: 27px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-left: 20%;
    padding-top: 20px;
    background-color: rgb(5, 5, 5);
    color: rgb(248, 179, 89);
}
.header-block_nav{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding-left: 25%;
}
.header-block_item{
    padding-left: 20px;
}
.header-block_item:hover{
    color: rgb(182, 95, 95);
}
.header-link:hover{
    cursor: pointer;
    color: rgb(248, 179, 89);
}