.menu-block{
    height: 1600px;
    background-image: url('./../../../../img/paralax-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu-block_title{
    font-family: 'Josefin Sans',Arial,sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 85px;
    font-weight: 400;
    text-transform: uppercase;
}
.menu-block_text{
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 65px;
    color:gray;
    display: flex;
    justify-content: center;
}
.flip-block_deg{
    height: 6px;
    width: 6px;
    background-color: #fac564;
    border: 1px solid #fac564;
    margin-right: 6px;
    margin-left: 6px;
    transform: rotate(45deg);
}
.big-block_deg{
    height: 14px;
    width: 14px;
}
.pricing-block_title{
    padding-bottom: 25px;
}
.pricing-block_flip{
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.block-flip_strip{
    border-top: 1px solid #bf7e06;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

 /* просто помойный костыль на время */
 .plug-for_time{
     padding-top: 135px;
     width: 100%;
 }
  /* просто помойный костыль на время */
