.footer-block{
    height: 600px;
    background-color:#101315;
    color: white;
}
.footer-item_title{
    padding-bottom: 35px;
}
.footer-items_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 125px;
}
.footer-block_item{
    width: 20%;
    line-height: 22px;
}
.blog-item_first{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.footer-blog_image{
    width: 100px;
    height: 100px;
}
.blog-item_block{
  display: flex;
  padding-bottom: 15px;
}
.blog-width{
    width: 400px;
}
.blog-item_text{
    display: flex;
    padding-top: 35px;
}
.blog-item_icon{
    height: 16px;
    width: 16px;
    padding-right: 5px;
}
.blog-item_under{
    display: flex;
    font-size: 10px;
    padding-left: 7px;
}
.footer-item_service{
    display: flex;
    flex-direction: column;
}
.footer-service_link{
    padding-top: 20px;
}

.footer-item_service a:hover{
    color: rgba(230, 230, 250, 0.692);
}
.question-list_item{
    display: flex;
    flex-direction: row;
}
.question-list_image{
    width: 18px;
    height: 18px;
    padding-right: 15px;
}